<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="common/layout">

<!--사진 업로드페이지 중앙배치-->
<main layout:fragment="content" class="uploadContainer">
    <!--사진업로드 박스-->
    <section class="upload">

        <!--사진업로드 로고-->
        <div class="upload-top">
            <a href="/" class="">
                <img src="/images/logo.jpg" alt="">
            </a>
            <p>사진 업로드</p>
        </div>
        <!--사진업로드 로고 end-->

        <!--사진업로드 Form-->
        <form class="upload-form" th:action method="post" enctype="multipart/form-data" accept-charset="utf-8">
            <input type="file" name="file" onchange="imageChoose(this)"/>
            <div class="upload-img">
                <img id="imageUploadPreview" />
            </div>

            <!--사진설명 + 업로드버튼-->
            <div class="upload-form-detail">
                <input type="text" placeholder="사진설명" name="caption" >
                <input type="text" placeholder="해시태그" name="hashtags" >
                <button class="cta blue">업로드</button>
            </div>
            <!--사진설명end-->

        </form>
        <!--사진업로드 Form-->
    </section>
    <!--사진업로드 박스 end-->
    <script th:src="@{/js/upload.js}" ></script>
    <br/><br/>
</main>

</html>